<div class="notfound-404 pt-[100px] justify-self-center">
  <h1 class="text-[850%]">
    <span>4</span>
    <span>0</span>
    <span>4</span>
  </h1>
</div>
<div class="notfound-content pb-[100px] text-center">
  <h2 class="justify-self-center">Xin lỗi, Trang không tìm thấy!</h2>
  <p>
    Trang bạn đang tìm kiếm đã được xóa hoặc đổi tên hoặc tạm thời không công
    khai.
  </p>
  <div class="button flex justify-self-center">
    <a
      routerLink="/shop"
      routerLinkActive="active"
      class="bg-[#f9f86c] px-[30px] rounded-[2px] border-solid h-[40px] content-center rounded-[16px] text-sm font-normal"
      >Back Home
    </a>
  </div>
</div>
