.mat-mdc-snack-bar-container.snack-error {
    --mdc-snack-bar-container-color: red;
    --mdc-snack-bar-button-color: white;
    --mdc-snack-bar-supporting-text-color: white;
  }
  
  .mat-mdc-snack-bar-container.snack-success {
      --mdc-snack-bar-container-color: green;
      --mdc-snack-bar-button-color: white;
      --mdc-snack-bar-supporting-text-color: white;
    }