<div class="header bg-white px-[5%] border-b border-gray-200">
    <div class="header_inner justify-between flex h-[86px]">
        <div class="logo content-center"><img src="/images/navbar/logo.png" alt="app-logo" style="height: 60%;"></div>
        <div class="navigation content-center">
            <ul class="flex gap-3 font-medium text-sm">
                <li><a href="#">Men</a></li>
                <li><a href="#">Woman</a></li>
                <li><a href="#">Sport</a></li>
                <li><a href="#">Care&Share</a></li>
            </ul> 
        </div>
        <div class="action flex gap-3 items-center">
            <div class="search flex relative">
                <input
                  type="text"
                  placeholder="Search products"
                  class="h-[45px] pl-5 pr-10 border rounded-[33px] text-sm border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                />
                <img
                  src="/images/navbar/icon-account.svg"
                  alt="app-cart"
                  class="absolute right-3 top-1/2 transform -translate-y-1/2"
                />
              </div>
            
            
            <div class="account"><img src="/images/navbar/icon-account.svg"  alt="app-account"><a href="#"></a></div>

            <div class="cart ">
                <a href="#" matBadge="5" matBadgesize="large">
                    <img src="/images/navbar/icon-cart.svg"  alt="app-cart">
                </a>
            </div>
        </div>
    </div>
</div>
