
.mat-mdc-button, .mat-mdc-button .mdc-button__ripple {
    --mdc-text-button-container-shape: 8px;
   }
   
  .mat-mdc-unelevated-button, .mat-mdc-unelevated-button .mdc-button__ripple {
    --mdc-filled-button-container-shape: 8px;
  }

  .mat-mdc-unelevated-button:not(:disabled){
    --mdc-filled-button-container-color: black;

}



  .mat-mdc-unelevated-button, .mat-mdc-unelevated-button .mdc-button__ripple {
    --mdc-filled-button-container-shape: 8px;
  }

  .mat-mdc-button, .mat-mdc-button .mdc-button__ripple {
   --mdc-text-button-container-shape: 8px;
  }
